*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}


.main{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: #4b4b4b;
    color: #fff;
    padding: 20px;
}

.main h2{
    padding: 10px 0;
    text-align: center;
}

.main nav ul{
    padding: 10px 20px;
}

.main nav ul li{
    padding: 10px 0;
}

.flex-basis{
    height: 250px;
    background-color: #b2c824;
    display: flex;
}

.box1{
    width: 80px;
    height: 80px;
    background-color: #f4de8d;
    color: #000;
    border: 2px solid #000;
    text-align: center;
}

.flex-basis-auto{
    flex-basis: auto;
}

.flex-basis-20px{
    flex-basis: 20px;
}

.flex-basis-30{
    flex-basis: 30%;
}

.flex-grow{
    height: 250px;
    background-color: #b2c824;
    display: flex;
}

.flex-grow-auto{
    flex-grow: auto;
}

.flex-grow-1{
    flex-grow: 1;
}

.flex-grow-2{
    flex-grow: 2;
}

.flex-shrink{
    height: 250px;
    background-color: #b2c824;
    display: flex;
}

.flex-shrink-0{
    flex-shrink: 0;
}

.flex-shrink-1{
    flex-shrink: 1;
}

.flex-shrink-2{
    flex-shrink: 2;
}

.order{
    height: 250px;
    background-color: #b2c824;
    display: flex;
}

.order-0{
    order: 0;
}

.order-1{
    order: 1;
}
